.st-emotion-cache-j5r0tf {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #7e99ab;
}

.diagnosis {
  padding: 0.2em 0.5em;
  border-radius: 0.5em;
  color: #fff;
}

.diagnosis.benign {
  background-color: #01db48;
}

.diagnosis.malicious {
  background-color: #db0101;
}
